@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  height: 100vh;
}


/* shimmer effect */

.shimmer {
		/* font-family: "Lato";
		font-weight: 300;
		font-size: 3em;
		margin: 0 auto;
		padding: 0 140px 0 0;
		display: inline;
		margin-bottom: 0; */
}

/* p {
		font-family: "Lato";
		font-weight: 300;
		font-size: 1em;
		color: rgba(255, 255, 255, 0.65);
		width: 500px;
		text-align: justify;
		line-height: 1.5em;
		border-top: 1px dashed rgba(255, 255, 255, 0.2);
		margin: 10px 0 0 5px;
		padding-top: 10px;
} */

/* p a {
		text-decoration: none;
		color: #fff;
}

p a:visted {
		color: #fff;
} */

.shimmer {
		text-align: center;
		color: rgba(255, 255, 255, 0.1);
		background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		-webkit-background-size: 125px 100%;
		-moz-background-size: 125px 100%;
		background-size: 125px 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		-webkit-animation-name: shimmer;
		-moz-animation-name: shimmer;
		animation-name: shimmer;
		-webkit-animation-duration: 2s;
		-moz-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: #222;
}

@-moz-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-webkit-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-o-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}



@tailwind base;
@tailwind components;
@tailwind utilities;
